.Landing {
    margin: 16px auto;
    border: 1px solid white;
    background-color: white;
}

.primary {
    margin-left: 10px;
    max-width: 65%;
    float: left;
}

.secondary {
    margin-right: 10px;
    max-width: 25%;
    float: right;
}