<%- include("../partials/header")%>
<link rel="stylesheet" href="/public/CSS/ContactUs.css" type="text/css">
<section class="get-in-touch">
    <h1 class="title">Get in touch</h1>
    <form class="contact-form row" action="/admin/contact" method="POST">
       <div class="form-field col x-50">
          <input id="name" class="input-text js-input" type="text" name="FromName" required>
          <label class="label" for="name">Name</label>
       </div>
       <div class="form-field col x-50">
          <input id="email" class="input-text js-input" type="email" name="FromEmail" required>
          <label class="label" for="email">E-mail</label>
       </div>
       <div class="form-field col x-100">
          <input id="message" class="input-text js-input" type="text" name="Message" required>
          <label class="label" for="message">Message</label>
       </div>
       <div class="form-field col x-100 align-center">
          <input class="submit-btn" type="submit" value="Submit">
       </div>
    </form>
 </section>
 <%- include("../partials/footer")%>