<%- include("../partials/header")%>

    <head>
        <link rel="stylesheet" href="/public/CSS/Forms.css" type="text/css">
    </head>
    <div class="container">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Signup to upload videos!</h3>
                    <div class="card-text">
                        <form action="/signup" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input class="form-control form-control-sm" type="text" name="Username" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input class="form-control form-control-sm" type="email" name="Email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input class="form-control form-control-sm" type="text" name="Name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input class="form-control form-control-sm" type="password" name="password" placeholder="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sign up!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include("../partials/footer")%>